language: java

sudo: false

notifications:
  email:
    - renato.mendes.1123@gmail.com

services:
  - docker

branches:
  only:
    - 0.0.1

jdk:
  - openjdk8

before_install:
  - cp .travis.maven.settings.xml $HOME/.m2/settings.xml

install: 
  - mvn deploy
  
before_deploy:
  - mkdir $HOME/.kube
  
  
deploy:
  - provider: script
    script:
      - cp .travis.k8.config-development $HOME/.kube/config   
      - ls -l
    on:
      tags: true
      branch: all
  
